streamlit==1.36.0
langchain==0.2.6
langchain-community==0.2.6
langchain-chroma==0.1.2
langchain-groq==0.1.6
sentence-transformers==3.0.1
torch==2.1.2
ragas==0.1.11
datasets==2.20.0
pysqlite3-binary==0.5.3
